[submodule "lib/stm32tpl"]
	path = lib/stm32tpl
	url = https://github.com/antongus/stm32tpl.git
[submodule "lib/scmRTOS"]
	path = lib/scmRTOS
	url = https://github.com/scmrtos/scmrtos.git
[submodule "prj/ld"]
	path = prj/ld
	url = https://github.com/antongus/stm32-ld-scripts.git
